$icon-font-path: "../bower_components/materialize/font/roboto";

// bower:scss
@import "bower_components/materialize/sass/materialize.scss";
// endbower


// --------------- General Styles ---------------

.parallax-container {
  text-align: center;
  height: 100vh;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
  position: absolute;
}

.section {
  padding-top: 5rem;
}

.container {
  width:82%;
}

.section-secondary {
  text-align: center;
  height: 100vh;
}

.parallax img {
  display: inline;
  width: 100%;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 19px;
  font-weight: lighter;
}

// --------------- Section 1 ---------------
.profile-pic {
  border-radius: 51%;
  width: 21%;
}

// --------------- Section 2 ---------------


// --------------- Section 3 ---------------

.collapsive-background {
  margin: 7px;
  color: black;
}

// --------------- Section 4 ---------------

// --------------- Section 5 -------------
.section4 {
  .row {
    margin: 0px;
  }
  .card-image {
    height: 190px;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


 
